Repository voxpupuli/puppet-healthcheck, pull requests merged in 2020-04, with the labels that each got.

#57 modulesync 2.12.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#55 replace configtimeout with http_connect_timeout (#54)
  lib/puppet_x/puppet-community/tcp_validator.rb
Labels: bug

#58 release 1.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
